
.detail-top {
    width: 100%;
    height: 200px;
    // padding-top: 60px;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    background: rgba(255,0,0,0.25);
}

.detail-title {
    margin-top: 40px;
    padding: 0 10px;
    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-usertime {
    margin-top: 40px;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .detail-usertime-inner {
        display: flex;
        justify-content: center;
        align-items: center;

        color: rgb(63, 62, 62);
        font-size: 14px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .detail-time {
        margin-left: 10px;
    }
}



.detail-content-box {
    width: 100%;
}

.detail-content {
    margin: 37px;
    padding: 50px;

    border-radius: 20px;
    background: #FFE5E5;
}
.detail-content-scroll {
    // max-height: 250px;
    text-align: center;
    font-size: 24px;

    overflow-y: scroll;
}
.detail-content-scroll::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.detail-content-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    transition: all 1s;
}
.detail-content-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}



.detail-btn {
    width: 150px;
    height: 50px;
    margin: auto;
    
    font-weight: bold;
    font-size: large;
    border: 0;
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    border-radius: 20px;
    background-color: #FFE5E5;
}