.login {
    padding: 10px;
    text-align: center;
}

.login-main-img {
    img {
        width: 100%;
        max-width: 200px;
        height: 100%;
        border-radius: 50%;
    }
}

.login-title {
    font-size: 22px;
}



.login-input-box {
    width: 100%;
    margin-bottom: 20px;
    input {
        width: 100%;
        max-width: 214px;
        height: 40px;
        line-height : 40px;
        padding: 0 10px;

        border: 0;
        color: #a5a5a5;
        font-family: cafeFont;

        border-radius: 20px;
        background: #FFE5E5;
    }
}
.login-input-box:first-child {
    margin-bottom: 5px;
}



.login-btn-box {
    margin-bottom: 10px;
}
.login-btn {
    width: 100%;
    max-width: 234px;
    height: 40px;
    line-height : 40px;

    border: 0;
    font-family: cafeFont;

    border-radius: 5px;
    background-color: #fff;
    transition: all 0.2s;
}
.login-btn:hover {
    background-color: #eb6161;
}
.register-btn {
    width: 100%;
    max-width: 234px;
    height: 40px;
    line-height : 40px;

    border: 0;
    font-family: cafeFont;
    
    border-radius: 5px;
    background: #fff;
    transition: all 0.2s;
}
.register-btn:hover {
    background-color: #FFE5E5;
}
.login-fail-btn {
    width: 100%;
    max-width: 234px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;

    display: inline-block;
    font-size: 14px;

    border-radius: 5px;
    background: rgb(193, 189, 191);
}